extends layout
block content 
    form(action="/", method='POST')
        label(for="ID") ID:
        input(type="text", id='ID', name='ID')
        br
        label(for="price") price: 
        input(type="text", id='price', name='price')
        br
        label(for="description") description:
        input(type="text", id='description', name='description')
        br
        label(for="name") name:
        input(type="text", id='name', name='name')
        br
        label(for="img") imgURL:
        input(type="text", id='img', name='img')
        br
        button(type='submit') submit